.product-detail-container{
    background-color: white;
    /* color: #6C6D6E; */
}

.product-name{
    font-size:32px;
    /* color: red; */
}
.rating{
    
    display: flex;
    flex-direction: row;
}
.img-main{
    height: 350px;
}
.btn-in-dc{
    border: none;
    /* border: 1px solid #DE7127; */
    background-color: white;
    color: #DE7127;
    /* height: 40px; */
}
.cart-value{
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    color: #DE7127;
    font-weight: bold;
}
.in-dc-container{
    border: 1px solid #DE7127;
}

.btn-in {
    border: none;
    color: #DE7127;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    border-right: solid  1px #DE7127;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
  }

  .btn-dc {
    border: none;
    color: #DE7127;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    border-left: solid  1px #DE7127;
    text-decoration: none;
    font-weight: bold;
    background-color: white;

  }

  .btn-in:hover{
    background-color:wheat;
  }
  .btn-dc:hover{
    background-color: wheat;
  }

.add-card{
    margin-left: 25px;
    padding: 5px 15px 5px 15px;
    border: none;
    color: white;
    background-color: #DE7127;
}