.top-nav{
    background-color: #F0F1F3 !important;
}
.top-link{
    padding-right: 25px;
    text-decoration: none;
    color: #6C6D6E;
}

 .top-link a:hover {
    color: black !important;
}

.middle-nav{
    background-color: white;
}

.dropdown-ln a{
    color:#6C6D6E !important
}

/* .dropdown-content:hover {
    background-color: #DE7127 !important;
    color: #6C6D6E !important;
    opacity: 0.4;
}

*/
.dropdown-ln a:hover{
    color: #DE7127 !important
} 

.middle-btn {
    background-color: white;
    border: none;
    margin-right: 45px;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.form-style{
    width: 500px;
    margin-left: 70px;
}

.search-btn{
    color:  white;
    background-color: #DE7127;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    margin: 8px 0px;
}

.search-btn:hover{
    background-color: #DE7127 !important;
    color: white;
}