
.login-container{
    background-color: #F0F1F3;
}

/* .login-cart{
    background-color: white;
} */

.form-card{
    background-color: white;
}

a{
    text-decoration: none;
}

input[type=text],[type=password], select {
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #DE7127;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #B35B20;
  }

  .login-btn{
    width: 100%;
    background-color: #944B1A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  