.product-card{
    background-color: white;
    
    border-radius: 5px;
}

.product-container{
    color: #303030;
    text-decoration: none;
}

.card-content label{
    cursor:pointer;
}

.product-img{
    border-radius: 7px;
}

.add-to-cart-btn{
    border: none;
    width: 100%;
    border-radius: 5px;
    color: #6C6D6E ;
}
.add-to-cart-btn:hover{
    background-color: #DE7127;
    color: white;
}
